.contact {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
}

.contact-card {
  max-width: 750px;
  width: 100%;
  display: grid;
  border: 1px solid rgba(181, 116, 179, 0.25);
  border-radius: 28px;
  padding: 3.5rem;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);

  opacity: 0;
  animation: slideInLeft 1s ease forwards;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 1.2rem;
}

.contact-info h2 {
  text-align: left;
  margin-bottom: 1rem;
  font-weight: 200;
}

.contact-info p {
  text-align: left;
  line-height: 1.8;
  font-weight: 100;
}

.contact-links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.contact-links a {
  display: flex;
  align-items: center;
  gap: 0.6rem;

  padding: 0.7rem 1.1rem;

  text-decoration: none;
  color: white;

  background: #b574b3;
  border: 1px solid #b574b3;
  border-radius: 12px;

  font-size: 0.95rem;

  transition: all 0.25s ease;
}

.contact-links a:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
  border-color: #c847c4;
}

.contact-links svg {
  color: white;
  font-size: 1.3rem;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .contact-card {
    grid-template-columns: 1fr;
  }
}
