.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.hero h1,
.hero p,
.hero button {
  opacity: 0;
  animation: fadeUp 0.8s ease forwards;
}

.hero h1 {
  font-size: 4rem;
}

.hero p {
  animation-delay: 0.2s;
  font-size: 1.5rem;
}

.hero button {
  animation-delay: 0.4s;
  padding: 1rem;
  border: none;
  border-radius: 12px;
  background: #b574b3;
  color: white;
  cursor: pointer;
  margin-top: 1.5rem;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.flower {
  width: 80px;
  animation:
    float 4s ease-in-out infinite,
    rotateFlower 12s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes rotateFlower {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}
